body {
    background-color: #131313;
}


/* --------COLORES-------- */


.Bg1 {background-color: #131313;}

.Bg2 {background-color: #1F1F1F;}

.Bg3 {background-color: #373737;}

.Bg4 {background-color: #FFC692;}

.Bg5 {background-color: #1f3521;}  /*Verde Oscuro{background-color: #2F351F;}*/

.Bg6 {background-color: #b68d6a;}

.Beige {color: #FFC692;}

.Negro {color: #000000;}

.GrisA {color: #DADADA;}

.GrisB {color: #9e9d9d;}

.Blanco {color: #ffffff;}

.Verde {color: #23ce31;}  /*Verrde Claro {color: #A3CE23;}*/

.Amarillo1 {color: #fffb00}

.Amarillo1 {background-color: #e6e49d}

.Letras1 {
    font-family: 'Roboto', sans-serif;

    font-family: 'Rubik', sans-serif;
}

/* INICIO */
h1 {
    padding-top: .3rem;
    font-size: 1.5rem;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
}

h2 {
    font-size: 3rem;
}

.contenedor {
    max-width: 60rem;
}

.Widget {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 2rem;
}

.Imagen {
    width: 25rem;
    height: 25rem;
    background: white;
    color: white;
}

.imagenP{
    filter:drop-shadow(-0.4rem .2rem .4rem #b68d6a)
}

.IniciarS {
    text-decoration: none;
    color: #FFC692;
    background: #b68d6a42;
    border: 2px solid #FFC692;
    border-radius: 1rem;
    padding: .5rem;
    transition: 100ms;
}

.IniciarS:hover {
    background: #b68d6a70;
    color: #FFC692;
}

.Registrarse {
    text-decoration: none;
    color: #000;
    background: #FFC692;
    border: 2px solid #FFC692;
    border-radius: 1rem;
    padding: .5rem;
    transition: 100ms;
}

.Registrarse:hover {
    background: #ffc792d0;
    border: 2px solid #ffc792d0;
    color: #000;
}

.carta {
    margin: 0 .0rem;
    border-radius: .5rem;
}

.ico-svg-padre {
    padding: .7rem;
    /* border: 1px solid #FFC692; */
    border-radius: 50%;
}

.ico-svg {
    width: 2rem;
    height: 2rem;
    color: #FFC692;
}

/* --------------------------withdraw-------------------------- */


.flecha {
    width: 1.5rem;
    height: 1.5rem;
    color: #FFC692;
}

.Wretiro {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border-radius: 1rem;
}

.Wretiro p {
    font-size: 1.2rem;
    text-align: center;
    /* font-weight: bold; */
}

.mi-p {
    padding: 0 6rem;
}

.monto {
    font-size: .9rem;
    /* font-weight: bold; */
}

.my-input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #FFC692;
    font-size: 1.5rem;
    color: white;
}

.my-input::placeholder {
    color: #c2c2c2;
}

.boton {
    background-color: #FFC692;
    color: #000;
    border-radius: 1rem;
    border: none;
    padding: .2rem .75rem;
    margin: auto;
    font-size: 1.1rem;
}

/* ---------------------------footer--------------------------- */

.Footer {
    margin: 0 .02rem;
    border-radius: .5rem;
    /* height: 3rem; */
}

.Redes {
    width: 100%;
    max-width: 12rem;
    padding: .4rem .4rem .5rem;
    border-radius:1.3rem;
}

.iFooter{
    color: #727272;
}

.iFooter:hover {
    color: #fff;
}

.BgIcoF {
    background-color: #373737;
    padding: 0 .4rem;
    padding-bottom: .3rem;
    border-radius: 1rem;
}

.BgIcoF:hover {
    background-color: rgb(0, 110, 255);
}

.BgIcoI {
    background-color: #373737;
    padding: 0 .4rem;
    padding-bottom: .3rem;
    border-radius: 1rem;
}

.BgIcoI:hover {
    background-color: rgb(255, 0, 128);
}

.BgIcoY {
    background-color: #373737;
    padding: 0 .4rem;
    padding-bottom: .3rem;
    border-radius: 1rem;
}

.BgIcoY:hover {
    background-color: rgb(255, 0, 0);
}

.BgIcoT {
    background-color: #373737;
    padding: 0 .4rem;
    padding-bottom: .3rem;
    border-radius: 1rem;
}

.BgIcoT:hover {
    background-color: rgb(255, 255, 255);
}

.tiktok:hover{
    color: #000;
}

.LFooter {
    color: #b1b1b1;
}

.LFooter:hover {
    color: #b1b1b1;
}

.Footer p {
    color: #DADADA;
    margin: 0 1rem;
}